@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); */

@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

    background: #ffebfd;
    /* background: linear-gradient(315deg, #ffd2fb, #eacaf5); */
}

/* .oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} */